<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="SelectedPhotoAccess">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    
    <!-- 前台服务权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    

    <!-- 通知权限 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".App"
        android:allowBackup="true"

        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.VideoBox"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="31"
        android:extractNativeLibs="true">

        <meta-data android:name="ScopedStorage" android:value="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.app.videobox.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".service.DownloadVideoService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <service
            android:name=".service.FCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.GuiderActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.PrivacyActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/Theme.VideoBox"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleTask"/>

        <activity android:name=".ui.SplashActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- 支持作为默认浏览器 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- 支持 HTTP 和 HTTPS 链接 -->
                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>

            <!-- 支持从其他应用分享链接 -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.LanguageActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>


        <activity android:name=".ui.pages.video.playerV2.VlcPlayActivity"
            android:exported="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="portrait">
            <!-- 支持视频文件播放 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- file scheme 支持所有主流视频格式 -->
                <data android:scheme="file" android:host="*" android:pathPattern="/.*\\.mp4" />
                <data android:scheme="file" android:host="*" android:pathPattern="/.*\\.avi" />
                <data android:scheme="file" android:host="*" android:pathPattern="/.*\\.mkv" />
                <data android:scheme="file" android:host="*" android:pathPattern="/.*\\.mov" />
                <data android:scheme="file" android:host="*" android:pathPattern="/.*\\.wmv" />
                <data android:scheme="file" android:host="*" android:pathPattern="/.*\\.flv" />
                <data android:scheme="file" android:host="*" android:pathPattern="/.*\\.webm" />
                <data android:scheme="file" android:host="*" android:pathPattern="/.*\\.m4v" />
                <data android:scheme="file" android:host="*" android:pathPattern="/.*\\.3gp" />
                <data android:scheme="file" android:host="*" android:pathPattern="/.*\\.m3u8" />

                <!-- content scheme 同样支持 -->
                <data android:scheme="content" android:pathPattern="/.*\\.mp4" />
                <data android:scheme="content" android:pathPattern="/.*\\.avi" />
                <data android:scheme="content" android:pathPattern="/.*\\.mkv" />
                <data android:scheme="content" android:pathPattern="/.*\\.mov" />
                <data android:scheme="content" android:pathPattern="/.*\\.wmv" />
                <data android:scheme="content" android:pathPattern="/.*\\.flv" />
                <data android:scheme="content" android:pathPattern="/.*\\.webm" />
                <data android:scheme="content" android:pathPattern="/.*\\.m4v" />
                <data android:scheme="content" android:pathPattern="/.*\\.3gp" />
                <data android:scheme="content" android:pathPattern="/.*\\.m3u8" />
            </intent-filter>
        </activity>


        <activity android:name=".ui.pages.webViewPage.WebViewActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <!-- 广播接收器注册 -->
        <!-- Home键检测广播接收器 -->
        <receiver android:name=".receiver.HomeKeyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.CLOSE_SYSTEM_DIALOGS" />
            </intent-filter>
        </receiver>

        <!-- 电源断开广播接收器 -->
        <receiver android:name=".receiver.PowerDisconnectReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <!-- 屏幕点亮广播接收器 -->
        <receiver android:name=".receiver.ScreenOnReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/adMobId"/>

<!--        <property android:name="android.adservices.AD_SERVICES_CONFIG"-->
<!--            android:resource="@xml/gma_ad_services_config"-->
<!--            tools:replace="android:resource" />-->


        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebookId" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebookToken" />
        <meta-data
            android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
            android:value="true" />
        <meta-data
            android:name="com.facebook.sdk.AutoInitEnabled"
            android:value="true" />
        <meta-data
            android:name="com.facebook.sdk.AdvertiserIDCollectionEnabled"
            android:value="true" />
    </application>

</manifest>